<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- application log filepath -->
    <add key="appLogFile" value="" />
    
    <!-- initializer plugin path -->
    <add key="initializerPluginPath" value="" />
    <!-- injector plugin path -->
    <add key="injectorPluginPath" value="" />
    <!-- crawler plugin path -->
    <add key="crawlerPluginPath" value="" />
  </appSettings>
</configuration>