<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- application log filepath -->
    <add key="appLogFile" value="" />

    <!-- initializer plugin path -->
    <add key="initializerPluginPath" value="C:\Users\Test\AppData\Roaming\Dosh\Plugin\Initializer" />
    <!-- injector plugin path -->
    <add key="injectorPluginPath" value="C:\Users\Test\AppData\Roaming\Dosh\Plugin\Injector" />
    <!-- crawler plugin path -->
    <add key="crawlerPluginPath" value="C:\Users\Test\AppData\Roaming\Dosh\Plugin\Crawler" />
  </appSettings>
</configuration>